<div class="large-12 contact_top_padding"></div>
<div class="row">
	<div class="large-6 small-10 columns contact_new">
		<%= render 'contacts/new' %>
	</div>
	<div class="large-4 small-10 columns large-push-1">
		<div class="large-11 small-11" style="background-color:#212326;padding:20px 0 20px 20px;">
			<h5 style="color:white"><strong>Contact details</strong></h5>
			<p style="color:gray">Andraz Kuret<br />
				<span style="color:red">info@kuret.me</span><br />
				(+386)40 134 277</p>
			<p style="color:gray">Titov trg 3<br />
				6230 Postojna<br />
				Slovenia</p>
		</div>
	</div>
	<div id="ajax_call" class="large-12">
		<div id="circular3dG">
			<div id="circular3d_1G" class="circular3dG"></div>
			<div id="circular3d_2G" class="circular3dG"></div>
			<div id="circular3d_3G" class="circular3dG"></div>
			<div id="circular3d_4G" class="circular3dG"></div>
			<div id="circular3d_5G" class="circular3dG"></div>
			<div id="circular3d_6G" class="circular3dG"></div>
			<div id="circular3d_7G" class="circular3dG"></div>
			<div id="circular3d_8G" class="circular3dG"></div>
		</div> 
	</div>
</div>
