<div class="row">
	<div class="large-6 small-10 columns">
		<div class="large-12" style="color:white;background-color:#212326">First and last name</div>
		<div class="large-12" style="color:white;background-color:#212326">Email address</div>
		<div class="large-12" style="color:white;background-color:#212326">Your message</div>
		<div class="large-3" style="color:white;background-color:blue">Send message</div>
	</div>
	<div class="large-5 small-10 columns">
		<div class="large-11 small-11" style="background-color:#212326;padding-left:20px;">
			<h5 style="color:white">Contact detalis</h5>
			<p style="color:red">info@andrazkuret.com</p>
			<p style="color:gray">(+386)40 134 277</p>
			<p style="color:gray">Titov trg 3</p>
			<p style="color:gray">6230 Postojna</p>
			<p style="color:gray">Slovenia</p>
		</div>
	</div>
</div>