<div class="row">
	<div class="large-5 medium-5 small-12 columns tweets">
		<div class="large-12">
			<h4>Tweets table: </h4>
		</div>
				<% @client.user_timeline(count:2).each do |tweet| %>
			<div class="large-12">
				<%= image_tag(tweet.user.profile_image_url) %>
				<p><%= tweet.text %></p><br />
			</div>
		<% end %>

	</div>
	<div class="large-6 medium-6 columns small-12 ">
		<h2 data-magellan-destination="social" ></h2>
		<div id="social_fb" class="large-3 small-3 medium-3 columns"></div>
		<div id="social_tw" class="large-3 small-3 medium-3 columns"></div>
		<div id="social_git" class="large-3 small-3 medium-3 columns"></div>
		<div id="social_sk" class="large-3 small-3 medium-3 columns"></div>
	</div>
</div>